<footer>
    <div class="info-footer">
        <div class="top-footer">
            <div class="left-footer">
                <a href="https://maps.app.goo.gl/8pHbrG7SWcDWVynj8">Rua Bruno Filgueira 369, Sala 1601, Batel | Curitiba - PR, 80440-220</a>
                <a href="tel:+5541998560847">(41) 99856-0847</a>
            </div>
            <div class="right-footer">
                <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta.">
                    <img 
                    src="../img/whatsapp.png"
                    srcset="../img/whatsapp@2x.png 2x"
                    alt="">
                </a>
                <a href="https://www.instagram.com/blumepediatria/">
                    <img 
                    src="../img/instagram.png"
                    srcset="../img/instagram@2x.png 2x"
                    alt="">
                    </a>
                <a href="https://www.facebook.com/people/Blum%C3%AA-Pediatria/61578777307387/">
                    <img 
                    src="../img/facebook.png"
                    srcset="../img/facebook@2x.png 2x"
                    alt="">
                </a>
            </div>

        </div>
        <a href="/" class="mid-footer">
            <img src="../img/logo-footer.png" alt="">
            <p>Aqui a infância é cultivada com carinho.</p>
        </a>
        <a href="https://namiconsultoria.com.br" class="nami tablet-desktop">
            <p>Desenvolvido por Nami Consultoria</p>
        </a>
    </div>
    <a href="https://namiconsultoria.com.br" class="nami only-mobile">
        <p>Desenvolvido por Nami Consultoria</p>
    </a>
</footer>