<nav class="nav">
  
  <label>
    <input type="checkbox" />
    <span class="menu"> 
      <span class="hamburger only-mobile">
        <img
          src="../img/icons/open.png" 
          srcset="../img/icons/open@2x.png"
          class="abrir">
        <!-- <img
          src="../img/icons/close.png" 
          srcset="../img/icons/close@2x.png"
          class="fechar"> -->
      </span> 
    </span>

    <ul>
 
      <img 
        src="../img/icons/nav.png"
        srcset="../img/icons/nav@2x.png 2x"
        alt=""
        class="only-mobile">
      <div class="wrap-links">
        <li>
          <a class="links" href="/">Home</a>
        </li>
        <li>
          <a class="links" href="/sobre">Sobre</a>
        </li>
        <li>
          <a class="links" href="/servicos">Serviços</a>
        </li>
        <li>
          <a class="links" href="/contato">Contato</a>
        </li>
      </div>
      <div class="icons-nav only-mobile">
        <a href="">
          <img 
            src="../img/icons/whats-nav.png"
            srcset="../img/icons/whats-nav@2x.png 2x"
            alt="">
        </a>
        <a href="">
          <img 
            src="../img/icons/insta-nav.png"
            srcset="../img/icons/insta-nav@2x.png 2x"
            alt="">
        </a>
        <a href="">
          <img 
            src="../img/icons/face-nav.png"
            srcset="../img/icons/face-nav@2x.png 2x"
            alt="">
        </a>
      </div>
    </ul>
  </label>
</nav> 