@use 'index' as *;

.contato{
    padding: 24rem 0 25rem;
    position: relative;
    .wrap-contato{
        display: flex;
        gap: 15rem;
        width: 85%;
        margin: auto;
        .left-contato{
            width: 46rem;
            h2{
                font-size: 2.8rem;
                line-height: 3.8rem;
                color: $verde-500;
            }
        }
        .right-contato{
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            a, div{
                display: flex;
                gap: 3rem;
            }
            img{
                width: 3.6rem;
                height: 3.6rem;
            }
            p{
                font-size: 2.2rem;
                line-height: 3rem;
                color: $marrom;
                letter-spacing: 5%;
                font-weight: 400;
                font-family: $geologica;
                width: 50rem;
            }
        }
    }
    >img{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
    }
    @media screen and (max-width: 700px){
        padding: 10rem 0 4.5rem;
        .wrap-contato{
            display: flex;
            flex-direction: column;
            gap: 4.5rem;
            width: 85%;
            margin: auto;
            align-items: flex-start;
            .left-contato{
                width: 100%;
                h2{
                    font-size: 2rem;
                    line-height: 2.4rem;
                    width: 23rem;
                    margin-left: 7rem;
                }
            }
            .right-contato{
                gap: 2rem;
                 a, div{
                    gap: 1.5rem;
                }
                img{
                    width: 2.2rem;
                    height: 2.2rem;
                }
                p{
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    letter-spacing: 0%;
                    width: 100%;
                }
            }
        }
        >img{
            width: auto;
            height: 18.4rem;
            left: unset;
            top: 7rem;
        }
    }
}

footer{
    margin-top: -5rem;
    @media screen  and (max-width: 700px){
        margin-top: 0;
    }
}