@use 'index' as *;

.error{
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-top: 10rem;
    h1{
        font-size: 5rem;
        line-height: 5rem;
        color: $azul-900;
        letter-spacing: 5%;
        font-family: $source;
    }
    a{
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: center;
    }
    p{
        font-size: 3rem;
        line-height: 3rem;
        color: $azul-900;
    }
}