@use 'index' as *;

.cuidando{
    position: relative;
    padding: 12rem 0 17rem;
    .red-dot{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .wrap-cuidando{
        display: flex;
        width: 90%;
        margin: auto;
        gap: 8rem;
        .right-cuidando{
            width: 54.5rem;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            h1{
                font-size: 3.6rem;
                line-height: 4.6rem;
                letter-spacing: 0%;
                text-transform: uppercase;
                font-weight: 600;
                color: $azul-900;
            }
            p{
                font-size: 2.2rem;
                line-height: 3.2rem;
                letter-spacing: 2%;
                margin-bottom: 2.5rem;
            }
        }
    }
    @media screen and (max-width: 700px) {
        position: relative;
        padding: 6rem 0 7rem;
        .red-dot{
            height: 8rem;
            width: auto;
            top: 27rem
        }
        .wrap-cuidando{
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: auto;
            gap: 8rem;
            .right-cuidando{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 3rem;
                h1{
                    font-size: 1.9rem;
                    line-height: 2.6rem;
                }
                img{
                    width: 27rem;
                    height: 27rem;
                }
                p{
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                    margin-bottom: 0rem;
                }
            }
        }
    }
}

.tratamentos{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 8.8rem;
    align-items: flex-start;
    padding-bottom: 22rem;
    .left-tratamentos{
        display: flex;
        gap: 3.4rem;
        align-items: center;
        h1{
            font-size: 4rem;
            line-height: 4rem;
            letter-spacing: 0%;
            text-transform: uppercase;
            font-weight: 600;
            color: $azul-500
        }
        img{
            width: 8.5rem;
            height: 18rem;
        }
    }
    .right-tratamentos{
        display: flex;
        flex-wrap: wrap;
        row-gap: 14rem;
        align-items: flex-start;
        justify-content: flex-start;
        .item-tratamentos{
            display: flex;
            flex-direction: column;
            gap: 4rem;
            align-items: flex-start;
            justify-content: space-between;
            align-items: center;
            width: 25rem;
            height: 23rem;
            p{
                font-size: 2.1rem;
                line-height: 2.1rem;
                letter-spacing: 2%;
                text-transform: uppercase;
                font-weight: 300;
            }
        }
        .outro-tratamentos{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            align-items: center;
            width: 25rem;
            height: 23rem;
            .blueButton{
                padding: 1.8rem 5rem;
            }
        }
    }
    @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        gap: 2.4rem;
        align-items: flex-start;
        padding-bottom: 17rem;
        .left-tratamentos{
            gap: 2.2rem;
            h1{
                font-size: 2rem;
                line-height: 2rem;
                letter-spacing: 2%;
                text-transform: uppercase;
            }
            img{
                width: 3rem;
                height: 6.4rem;
            }
        }
        .right-tratamentos{
            display: flex;
            flex-wrap: wrap;
            gap: 4rem;
            align-items: flex-start;
            justify-content: flex-start;
            .item-tratamentos{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: flex-start;
                justify-content: space-between;
                align-items: center;
                width: 9rem;
                height: 8.5rem;
                p{
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    letter-spacing: 0%;
                }
                img{
                    height: 6rem;
                }
            }
            .outro-tratamentos{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                align-items: center;
                width: 25rem;
                height: 23rem;
                .blueButton{
                    padding: 1.8rem 5rem;
                }
            }
        }
        >.blueButton{
            margin: auto;
            padding: 1.4rem 3rem;
            margin-top: 2.2rem;
        }
    }
}

.equipe{
    background-color: $azul-900;
    padding-bottom: 10rem;
    .wrap-equipe{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: -10rem auto 0;
        gap: 6rem;
        .item-equipe{
            display: flex;
            gap: 5rem;
            align-items: center;
            .info{
                display: flex;
                flex-direction: column;
                width: 52.5rem;
                h2{
                    font-size: 3.6rem;
                    line-height: 3rem;
                    letter-spacing: 2%;
                    color: $azul-500;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }
                h3{
                    font-size: 2.4rem;
                    line-height: 3rem;
                    letter-spacing: 2%;
                    color: $azul-500;
                    text-transform: uppercase;
                    font-weight: 300;
                    margin-bottom: 3rem;
                }
                p{
                    font-size: 2.2rem;
                    line-height: 3.2rem;
                    letter-spacing: 2%;
                    color: $azul-100;
                    font-weight: 300;
                }
            }
        }
        .invert{
            justify-content: flex-end;
        }
        .end{
            align-items: flex-end;
            margin-bottom: 4rem;
        }
    }
    @media screen and (max-width:700px){
        padding: 17rem 0rem 6rem;
        .wrap-equipe{
            display: flex;
            flex-direction: column;
            width: 85%;
            margin: -35rem auto 0;
            padding-top: 7rem;
            gap: 6rem;
            .item-equipe{
                display: flex;
                flex-direction: column;
                gap: 3rem;
                align-items: center;
                img{
                    width: 80%;
                    margin: auto;
                    z-index: 100;
                }
                .info{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    h2{
                        font-size: 2.2rem;
                        line-height: 2.2rem;
                        margin-bottom: 0rem;
                    }
                    h3{
                        font-size: 1.8rem;
                        line-height: 3rem;
                    }
                    p{
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                        letter-spacing: 0%;
                    }
                }
            }
            .invert{
                flex-direction: column-reverse;
                justify-content: flex-start;
            }
            .end{
                align-items: flex-end;
                margin-bottom: 0rem;
            }
        }
    }
}

.cuidar{
    display: flex;
    flex-direction: column;
    padding: 16rem 0 15rem;
    align-items: center;
    position: relative;
    .wrap-cuidar{
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: center;
        gap: 12rem;
        margin-bottom: 15rem;
        h1{
            font-size: 3.4rem;
            line-height: 4rem;
            letter-spacing: 2%;
            color: $vermelho;
            text-transform: uppercase;
            font-weight: 600;
            width: 53rem;
        }
        .aspas{
            width: 33.5px;
            height: 20.5px;
        }
        .cuidar-right{
            width: 50%;
            padding-top: 13rem;
            display: flex;
            gap: 5rem;
            position: relative;
            .aspas{
                margin-top: -2rem;
            }
            .swiper{
                .swiper-slide{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 24rem !important;
                    p{
                        font-size: 2.2rem;
                        line-height: 3.2rem;
                        letter-spacing: 2%;
                    }
                    h2{
                        font-size: 2.2rem;
                        line-height: 2.2rem;
                        text-transform: uppercase;
                        color: $azul-900;
                        letter-spacing: 2%;
                        font-weight: 700;
                    }
                }
            }
            .swiper-icons{
                position: absolute;
                display: flex;
                align-items: center;
                top: 8rem;
                right: 0;
                gap: 1.5rem;
                img{
                    position: unset;
                    width: 4.2rem;
                    height: 4.2rem;
                }
            }
        }
    }
    >p{
        font-size: 2.6rem;
        line-height: 3.2rem;
        letter-spacing: 2%;
        text-align: center;
        font-weight: 500;
        font-family: $source;
        margin-bottom: 5rem;
    }
    .cuidar-dots{
        position: absolute;
        left: 0;
        bottom: 16rem;
    }
    @media screen and (max-width: 700px) {
        padding: 6rem 0;
        align-items: center;
        position: relative;
        .wrap-cuidar{
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: auto;
            justify-content: center;
            gap: 3rem;
            margin-bottom: 0rem;
            h1{
                font-size: 2rem;
                line-height: 2.5rem;
                letter-spacing: 2%;
                color: $vermelho;
                text-transform: uppercase;
                font-weight: 600;
                width: 100%;
            }
            .aspas{
                width: 24px;
                height: 13px;
            }
            .cuidar-right{
                width: 100%;
                padding-top: 7.6rem;
                display: flex;
                gap: 0rem;
                position: relative;
                .aspas{
                    margin-top: -2rem;
                }
                .swiper{
                    .swiper-slide{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 17rem !important;
                        z-index: 4;
                        p{
                            font-size: 1.6rem;
                            line-height: 2.2rem;
                            letter-spacing: 2%;
                        }
                        h2{
                            font-size: 1.5rem;
                            line-height: 1.5rem;
                            text-transform: uppercase;
                            color: $azul-900;
                            letter-spacing: 2%;
                            font-weight: 700;
                        }
                    }
                }
                .swiper-icons{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    top: 3rem;
                    right: 0;
                    gap: 1rem;
                    img{
                        position: unset;
                        width: 3rem;
                        height: 3rem;
                    }
                }
            }
        }
        >p{
            font-size: 1.7rem;
            line-height: 2.3rem;
            margin-bottom: 2.5rem;
            margin-top: 6rem;
            width: 90%;
            margin: 6rem auto 2.5rem;
        }
        .cuidar-dots{
            position: absolute;
            left: 0;
            bottom: unset;
            top: 14rem;
            height: 25rem;
            z-index: 0;
        }
    }
}