@use 'index' as *;

.leveza{
    display: flex;
    width: 85%;
    margin: auto;
    gap: 8.6rem;
    justify-content: center;
    margin-top: 3.5rem;
    .left-leveza{
        display: flex;
        flex-direction: column;
        gap: 3.4rem;
        h2{
            width: 46rem;
            font-size: 2.8rem;
            line-height: 3.8rem;
            color: $marrom;
            font-weight: 700;
            letter-spacing: 1%;
        }
    }
    >img{
        width: 19rem;
        height: 26rem;
    }
    .right-leveza{
        p{
            font-size: 2rem;
            line-height: 2.8rem;
            letter-spacing: 2%;
            color: $roxo;
            font-weight: 400;
            width: 41.8rem;
        }
    }
    @media screen and (max-width: 700px){
        flex-direction: column;
        gap: 3.2rem;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        .left-leveza{
            h2{
                width: 100%;
                font-size: 1.6rem;
                line-height: 2rem;
                text-align: center;
            }
        }
        >img{
            width: 10rem;
            height: 13.5rem;
        }
        .right-leveza{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            align-items: center;
            p{
                font-size: 1.6rem;
                line-height: 2rem;
                letter-spacing: 0%;
                width: 100%;
                text-align: center;
            }
            a{
                display: flex !important;
            }
        }
    }
}

.conheca{
    position: relative;
    padding-bottom: 9.5rem;
    h1{
        font-size: 5rem;
        line-height: 6rem;
        color: $verde-500;
        width: 54.5rem;
        margin: 11rem auto 20rem;
        text-align: center;
    }
    .wrap-conheca{
        display: flex;
        width: 80%;
        margin: auto;
        gap: 10rem;
        justify-content: center;
        .box-conheca{
            display: flex;
            flex-direction: column;
            background-color: $branco;
            position: relative;
            width: 50rem;
            img{
                width: 25rem;
                height: 31.2rem;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
            }
            >div{
                background-color: $verde-100;
                margin: 3.5rem 3rem 11.7rem;
                padding: 15.6rem 3rem 8rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 44rem;
                height: 60rem;
                h2{
                    font-size: 4rem;
                    line-height: 4rem;
                    color: $marrom;
                    font-weight: 700;
                    text-align: center;
                }
                h3{
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    text-align: center;
                    color: $marrom;
                    font-family: $geologica;
                    font-weight: 200;
                }
                p{
                    font-size: 2rem;
                    line-height: 2.7rem;
                    letter-spacing: 2%;
                    color: $roxo;
                    font-weight: 400;
                    margin-top: 1.5rem;
                }
            }
        }
    }
    .right-conheca{
        position: absolute;
        right: 0;
        top: 15rem;
    }
    .left-conheca{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    @media screen and (max-width:700px) {
        padding-bottom: 9.5rem;
        width: 100%;
        margin: auto;
        h1{
            font-size: 2.2rem;
            line-height: 2.8rem;
            width: 27rem;
            margin: 9rem auto 14rem;
            text-align: center;
        }
        .wrap-conheca{
            display: flex;
            flex-direction: column;
            width: 85%;
            margin: auto;
            gap: 15rem;
            justify-content: center;
            .box-conheca{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 2rem 2rem 6rem;
                img{
                    aspect-ratio: 188/224;
                    width: 50%;
                    height: auto;
                }
                >div{
                    margin: 0;
                    padding: 11.6rem 1.6rem 4rem;
                    gap: 1rem;
                    width: 100%;
                    height: 100%;
                    h2{
                        font-size: 2.2rem;
                        line-height: 2.2rem;
                    }
                    h3{
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                    p{
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                        margin-top: 1.5rem;
                    }
                }
            }
        }
        .right-conheca{
            position: absolute;
            right: 0;
            top: 0;
            width: 10rem;
        }
        .left-conheca{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 9rem;
        } 
    }
}

.fazemos{
    background-image: url(../img/back-fazemos.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    aspect-ratio: 144/132;
    height: auto;
    padding: 20vw 0 20vw;
    h1{
        font-size: 5rem;
        line-height: 5rem;
        color: $background;
        letter-spacing: 2%;
        text-align: center;
    }
    .wrap-fazemos{
        display: flex;
        gap: 2.8rem;
        width: 85%;
        margin: 6.5rem auto 7.9rem;
        justify-content: center;
        .item-fazemos{
            width: 29.5rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            img{
                width: 100%;
                box-shadow: 4px 4px 5px #0000001a;
                border-radius: 250px;
                height: 36.9rem;
            }
            p{
                font-size: 2.8rem;
                line-height: 3.4rem;
                color: $verde-300;
                font-family: $source;
                font-weight: 700;
                letter-spacing: 5%;
                text-align: center;
            }
        }
    }
    >p{
        font-size: 2.3rem;
        line-height: 3.3rem;
        letter-spacing: 4%;
        font-weight: 500;
        color: $background;
        text-align: center;
        width: 92rem;
        margin: 0 auto 5.4rem;
    }
    a{
        margin: auto;
    }
    @media screen and (max-width:700px) {
        background-image: url(../img/back-fazemos-mob.png);
        aspect-ratio: 36/113;
        height: auto;
        padding: 45vw 0 10vw;
        margin-top: -4rem;
        h1{
            font-size: 2.4rem;
            line-height: 2.4rem;
        }
        .wrap-fazemos{
            display: flex;
            flex-wrap: wrap;
            gap: 1.6rem;
            row-gap: 8vw;
            width: 90%;
            margin: 12vw auto;
            justify-content: center;
            .item-fazemos{
                width: 41vw;
                display: flex;
                flex-direction: column;
                gap: 5vw;
                img{
                    aspect-ratio: 150/185;
                    width: 100%;
                    box-shadow: 4px 4px 5px #0000001a;
                    border-radius: 250px;
                    height: auto;
                }
                p{
                    font-size: 1.6rem;
                    line-height: 2rem;
                    letter-spacing: 1%;
                }
            }
        }
        >p{
            font-size: 1.6rem;
            line-height: 2.2rem;
            letter-spacing: 0%;
            font-weight: 400;
            width: 90%;
            margin: 0 auto 7vw;
        }
        a{
            margin: auto;
        }
    }
}

.detalhes{
    h1{
        font-size: 5rem;
        line-height: 6rem;
        letter-spacing: 2%;
        color: $marrom;
        text-align: center; 
        width: 54rem;
        margin: 4rem auto 10rem;
    }
    .wrap-detalhes{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 85%;
        margin: auto;
        gap: 3.5rem;
        place-items: center;
        .evidencias, .ludico{
            width: 10.8rem;
        }
        .clinica{
            width: 9.4rem;
        }
        .telemedicina{
            width: 8.3rem;
        }
        p{
            font-size: 2.6rem;
            line-height: 3.2rem;
            letter-spacing: 4%;
            color: $verde-500;
            font-weight: 700;
            text-align: center;
            font-family: $source;
        }
    }
    a{
        margin: 7.6rem auto 8.8rem;
    }
    @media screen and (max-width:700px) {
        h1{
            font-size: 2.4rem;
            line-height: 3rem;
            width: 26rem;
            margin: 0rem auto 4rem;
        }
        .wrap-mobile{
            display: flex !important;
            flex-wrap: wrap;
            width: 90%;
            margin: auto;
            gap: 1.6rem;
            row-gap: 4rem;
            justify-content: center;
            .item-detalhes{
                width: 15rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.6rem;
                .box-image{
                    height: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .evidencias, .ludico{
                width: 6rem;
            }
            .clinica{
                width: 5.3rem;
            }
            .telemedicina{
                width: 5.6rem;
            }
            p{
                font-size: 1.6rem;
                line-height: 2rem;
                letter-spacing: 2%;
                color: $verde-500;
                font-weight: 700;
                text-align: center;
                font-family: $source;
            }
        }
        a{
            margin: 4rem auto 6rem;
        }
    }
}

.historias{
    width: 90%;
    margin: 0 auto 5rem;
    display: none;
    h1{
        font-size: 4.4rem;
        line-height: 5.4rem;
        letter-spacing: 2%;
        color: $marrom;
    }
    .wrap-historias{
        display: flex;
        gap: 16.7rem;
        align-items: center;
        .right-historias{
            width: 78rem;
            height: 48rem;
            position: relative;
            .balao{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
            .aspas{
                position: absolute;
                top: 10rem;
                left: 10rem;
            }
            .depoimento{
                position: absolute;
                top: 10rem;
                left: 15.4rem;
                width: 52.5rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                p{
                    font-size: 2.2rem;
                    line-height: 3rem;
                    letter-spacing: 2%;
                    color: $roxo;
                }
                h3{
                    font-size: 2.4rem;
                    line-height: 3rem;
                    letter-spacing: 5%;
                    color: $verde-500;
                }
            }
        }
    }
}

.espaco{
    background-image: url(../img/home/back-espaco.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    padding: 20rem 0 16rem;
    position: relative;
    z-index: 1;
    .wrap-espaco{
        display: flex;
        width: 90%;
        margin: auto;
        gap: 10rem;
        align-items: center;
        justify-content: center;
        .left-espaco{
            background-color: $branco;
            padding: 3rem 3rem 12rem;
        }
        .right-espaco{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 50rem;
            h2{
                font-size: 4.4rem;
                line-height: 5.4rem;
                color: $marrom;
                font-weight: 700;
            }
            p{
                font-size: 2.3rem;
                line-height: 3.2rem;
                letter-spacing: 5%;
                color: $roxo;
                font-weight: 500;
                margin-bottom: 3rem;
            }
        }
    }
    >img{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }
    @media screen and (max-width:700px){
        width: 100vw;
        padding: 20rem 0 16rem;
        position: relative;
        z-index: 1;
        .wrap-espaco{
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: auto;
            gap: 4rem;
            align-items: flex-start;
            justify-content: center;
            h2{
                font-size: 2.2rem;
                line-height: 2.8rem;
                color: $marrom;
                font-weight: 700;
                width: 25rem;
            }
            .left-espaco{
                background-color: $branco;
                padding: 1.9rem 1.9rem 7.6rem;
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .right-espaco{
                display: flex;
                flex-direction: column;
                gap: 2.6rem;
                width: 100%;
                p{
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    letter-spacing: 2%;
                    margin-bottom: 0rem;
                }
            }
        }
        >img{
            position: absolute;
            right: 0;
            top: 0;
            z-index: 10;
        }
    }
}

footer{
    margin-top: -12rem;
}