@use 'index' as *;

.wrap-servicos{
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
    padding-bottom: 12rem;
    .item-servicos{
        display: flex;
        gap: 8.5rem;
        margin: auto;
        align-items: center;
        justify-content: center;
        img{
            width: 295px;
            height: 36.9rem;
        }
        .puericultura{
            width: 311px;
            margin-left: -16px;
        }
        .right-servicos{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 54rem;
            h2{
                font-size: 3rem;
                line-height: 3.4rem;
                color: $marrom;
                font-weight: 700;
            }
            p{
                font-size: 2.2rem;
                line-height: 3.2rem;
                color: $roxo;
                letter-spacing: 2%;
                font-weight: 500
            }
        }
    }
    @media screen and (max-width:700px) {
        gap: 5rem;
        padding-bottom: 5rem;
        .item-servicos{
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            width: 85%;
            h2{
                font-size: 2rem;
                line-height: 2.2rem;
                color: $marrom;
                font-weight: 700;
                width: 23rem;
                text-align: center;
                letter-spacing: 4%;
            }
            img{
                width: 182px;
                height: 23.2rem;
            }
            .puericultura{
                width: 182px;
                margin-left: 0px;
            }
            .right-servicos{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                width: 100%;
                align-items: center;
                h2{
                    font-size: 2rem;
                    line-height: 2.2rem;
                    color: $marrom;
                    font-weight: 700;
                    width: 23rem;
                    text-align: center;
                }
                p{
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    color: $roxo;
                    letter-spacing: 0%;
                    font-weight: 400;
                    text-align: center;
                }
            }
        }
    }
}