@use 'index' as *;

.natureza{
    position: relative;
    .wrap-natureza{
        display: flex;
        gap: 12.5rem;
        width: 85%;
        margin: auto;
        margin-bottom: 7rem;
        align-items: center;
        justify-content: center;
    }
    p{
        width: 63rem;
        font-size: 2.3rem;
        line-height: 3.3rem;
        letter-spacing: 2%;
        color: $marrom;
    }
    .left-flower{
        position: absolute;
        left: 0;
        top: 0;
    }
    h2{
        font-size: 2.8rem;
        line-height: 3.8rem;
        letter-spacing: 8%;
        font-weight: 600;
        color: $marrom;
        text-align: center;
        width: 103rem;
        margin: auto;
        font-family: $geologica;
        span{
            font-family: $source;
        }
    }
    @media screen and (max-width:700px) {
        .wrap-natureza{
            display: flex;
            flex-direction: column;
            gap: 4rem;
            width: 85%;
            margin: auto;
            margin-bottom: 0rem;
            align-items: center;
            justify-content: center;
            >img{
                width: 40%;
            }
        }
        p{
            width: 25rem;
            font-size: 1.6rem;
            line-height: 2.2rem;
            margin-left: 6rem;
            margin-top: 2.8rem;
        }
        .left-flower{
            position: absolute;
            left: 0;
            top: -2rem;
            z-index: 10;
            height: 20rem;
        }
        h2{
            font-size: 1.6rem;
            line-height: 2rem;
            letter-spacing: 5%;
            font-weight: 500;
            width: 30rem;
            margin: 4rem auto 0;
            font-family: $geologica;
            span{
                font-family: $source;
            }
        }
    }
}

.responsabilidade{
    background-image: url(../img/sobre/background.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 26rem 0 15rem;
    .wrap-responsabilidade{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 3.2rem;
        width: 85%;
        margin: auto;
        place-items: center;
        p{
            font-size: 2.6rem;
            line-height: 3.2rem;
            letter-spacing: 4%;
            font-weight: 700;
            color: $verde-300;
            text-align: center;
            width: 31.5rem;
            font-family: $source;
            align-self: flex-start;
        }
    }
    @media screen and (max-width:700px) {
        background-image: url(../img/sobre/background-mob.png);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 9rem 0 5rem;
        .wrap-responsabilidade-mob{
            display: flex !important;
            flex-direction: column;
            width: 85%;
            gap: 3.4rem;
            align-items: center;
            margin: auto;
            .item-responsabilidade{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.6rem;
                img{
                    max-width: 7rem;
                    max-height: 5rem;
                }
                p{
                    font-size: 1.6rem;
                    line-height: 2rem;
                    color: $verde-300;
                    font-weight: 700;
                    width: 29rem;
                    text-align: center;
                    font-family: $source;;
                }
            }
        }
    }
}

.prefooter{
    background-image: url(../img/sobre/prefooter.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 144/62;
    height: auto;
    position: relative;
    .text-prefooter{
        position: absolute;
        left: 10rem;
        top: 13rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        p{
            font-size: 2.4rem;
            line-height: 3.4rem;
            letter-spacing: 5%;
            font-weight: 300;
            color: $background;
            font-family: $geologica;
            width: 61rem;
            span{
                font-family: $source;
            }
        }
    }
    @media screen and (max-width:700px) {
        background-image: url(../img/sobre/prefooter-mob.png);
        aspect-ratio: 36/60;
        .text-prefooter{
            position: absolute;
            left: 2.2rem;
            top: 5.4rem;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            p{
                font-size: 1.6rem;
                line-height: 2.2rem;
                letter-spacing: 2%;
                width: 23.3rem;
                span{
                    font-family: $source;
                }
            }
        }
    }
}

footer{
    margin-top: -12rem;
    @media screen  and (max-width: 700px){
        margin-top: -7rem;
    }
}