@use "./colors" as *;
@use "./global" as *;


.greenButton {
  background-color: $verde-500;
  color: $branco;
  padding: 1.5rem 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  transition: filter 0.2s;
  border-radius: 30px;
  display: flex;
  place-items: center;
  justify-content: center;
  z-index: 10;
  width: 23rem;

  &:hover {
    filter: brightness(0.7);
  }
  @media screen and (max-width: 700px) {
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding: 1.3rem 1.6rem;
  }
}
.purpleButton {
  background-color: $roxo;
  color: $branco;
  padding: 1.5rem 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  transition: filter 0.2s;
  border-radius: 30px;
  display: flex;
  place-items: center;
  justify-content: center;
  z-index: 10;
  width: 23rem;

  &:hover {
    filter: brightness(0.7);
  }
  @media screen and (max-width: 700px) {
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding: 1.3rem 1.6rem;
  }
}
