$background: #f7f2e3;
$background2: #c8dfcb;

$branco: #fff;
$marrom: #c4b28c;

$roxo: #9eabc2;

$verde-100: #eff6f2;
$verde-300: #dbf0c9;
$verde-500: #b0d4bd;




// clinotam

$azul-100: #cce8e5;
$azul-300: #a3d8e7;
$azul-500: #a1d8e6;
$azul-700: #123274;
$azul-900: #22376d;

$vermelho: #a52c4c;

