@use "./colors" as *;
@use "./global" as *;


footer{
    width: 100%;
    height: 760px;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    .info-footer{
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: auto;
        padding: 18rem 0 2rem;
        height: 100%;
        color: $background;
        .top-footer{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .left-footer{
                display: flex;
                flex-direction: column;
                gap: 2.6rem;
                a{
                    font-size: 2.2rem;
                    line-height: 3rem;
                    letter-spacing: 5%;
                    width: 42rem;
                    color: $background;
                    font-weight: 400;
                }
            }
            .right-footer{
                display: flex;
                gap: 1.5rem;
                a{
                    width: 4rem;
                    height: 4rem;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .mid-footer{
            display: flex;
            flex-direction: column;
            gap: 2.6rem;
            align-items: center;
            img{
                width: 61rem;
            }
            p{
                font-size: 2.4rem;
                line-height: 3rem;
                letter-spacing: 5%;
                font-weight: 100;
                color: $background;
            }
        }
        .nami{
            margin-top: 6rem;
            p{
                font-size: 1.8rem;
                line-height: 3rem;
                font-weight: 100;
                letter-spacing: 5%;
                color: $background;
            }
        }
    }
}
  