@use "./colors" as *;
@use "./global" as *;


footer{
    width: 100%;
    height: 760px;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    .info-footer{
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: auto;
        padding: 18rem 0 2rem;
        height: 100%;
        color: $background;
        .top-footer{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .left-footer{
                display: flex;
                flex-direction: column;
                gap: 2.6rem;
                a{
                    font-size: 2.2rem;
                    line-height: 3rem;
                    letter-spacing: 5%;
                    width: 42rem;
                    color: $background;
                    font-weight: 400;
                }
            }
            .right-footer{
                display: flex;
                gap: 1.5rem;
                a{
                    width: 4rem;
                    height: 4rem;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .mid-footer{
            display: flex;
            flex-direction: column;
            gap: 2.6rem;
            align-items: center;
            img{
                width: 61rem;
            }
            p{
                font-size: 2.4rem;
                line-height: 3rem;
                letter-spacing: 5%;
                font-weight: 100;
                color: $background;
            }
        }
        .nami{
            margin-top: 6rem;
            p{
                font-size: 1.8rem;
                line-height: 3rem;
                font-weight: 100;
                letter-spacing: 5%;
                color: $background;
            }
        }
    }
    @media screen and (max-width:700px) {
        width: 100%;
        height: auto;
        aspect-ratio: 36/48;
        .info-footer{
            display: flex;
            flex-direction: column;
            width: 85%;
            margin: auto;
            padding: 23vw 0 1rem;
            height: 100%;
            color: $background;
            .top-footer{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: flex-start;
                margin-bottom: 10vw;
                .left-footer{
                    display: flex;
                    flex-direction: column;
                    gap: 1.7rem;
                    a{
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                        letter-spacing: 0%;
                        width: 25rem;
                        color: $background;
                        font-weight: 400;
                    }
                }
                .right-footer{
                    display: flex;
                    gap: 1rem;
                    align-self: flex-end;
                    a{
                        width: 2.4rem;
                        height: 2.4rem;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            .mid-footer{
                display: flex;
                flex-direction: column;
                gap: 2.6rem;
                align-items: center;
                img{
                    width: 25rem;
                }
                p{
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                    letter-spacing: 5%;
                    font-weight: 100;
                    color: $background;
                }
            }
            .nami{
                margin-top: 9vw;
                p{
                    font-size: 1.3rem;
                    line-height: 1.4rem;
                    font-weight: 100;
                    letter-spacing: 5%;
                    color: $background;
                    text-align: center;
                }
            }
        }
        >.nami{
            margin-top: 0;
            background-color: #9ca8bf;
            width: 100%;
            display: inline-block !important;
            padding-bottom: 1rem;
            margin-top: -2rem;
            p{
                font-size: 1.3rem;
                line-height: 1.4rem;
                font-weight: 100;
                letter-spacing: 5%;
                color: $background;
                text-align: center;
            }
        }
    }
}
  