@use "./colors" as *;
@use "./global" as *;


.header{
    position: relative;
    width: 100%;
    height: 100vh;
    .header-back{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
    }
    .header-text{
        position: absolute;
        left: 10rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        display: flex;
        flex-direction: column;
        width: 31.5rem;
        gap: 2.4rem;
        img{
            width: 31.5rem;
            height: 9.2rem;
        }
        h2{
            font-size: 2.3rem;
            color: $marrom;
            font-weight: 400;
            line-height: 2.8rem;
            letter-spacing: 2%;
            font-family: $source;
            margin-bottom: 1rem;
        }
    }
    .down-arrow{
        position: absolute;
        bottom: 4rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        width: 8rem;
        height: 8rem;
        animation: arrow 1.5s infinite alternate linear;
    }
    @media screen and (max-width:700px) {
        aspect-ratio: 36/40;
        height: auto;
        .header-text{
            left: 2.4rem;
            gap: 1rem;
            width: 17rem;
            top: 55%;
            img{
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            h2{
                font-size: 1.6rem;
                line-height: 2.2rem;
                width: 25rem;
            }
        }
    }
}

.header2{
    position: relative;
    aspect-ratio: 144/60;
    width: 100%;
    height: auto;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
    }
    .header-text{
        position: absolute;
        left: 10rem;
        top: 50%;
        z-index: 3;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 40rem;
        h2{
            font-size: 4rem;
            color: $azul-300;
            font-weight: 500;
            line-height: 4.6rem;
            letter-spacing: 5%;
            font-family: $source;
            text-transform: uppercase;
        }
        p{
            font-size: 1.9rem;
            line-height: 2.9rem;
            letter-spacing: 2%;
            text-transform: uppercase;
            font-weight: 300;
            color: $azul-300;
        }
    }
    @media screen and (max-width:700px) {
        aspect-ratio: 36/40;
        height: auto;
        .header-text{
            left: 2.4rem;
            gap: 1.2rem;
            width: 27rem;
            h2{
                font-size: 2.6rem;
                line-height: 2.2rem;
                width: 20rem;
            }
            p{
                font-size: 1.2rem;
                line-height: 1.6rem;
            }
        }
    }
}

@keyframes arrow{
    from {
        transform: translateY(0);
    }

    to{
        transform: translateY(2rem);
    }
}