@use "./colors" as *;
@use "./global" as *;


.header{
    position: relative;
    width: 100%;
    height: 100vh;
    .header-back{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
    }
    .header-text{
        position: absolute;
        left: 10rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        display: flex;
        flex-direction: column;
        width: 31.5rem;
        gap: 2.4rem;
        img{
            width: 31.5rem;
            height: 9.2rem;
        }
        h2{
            font-size: 2.3rem;
            color: $marrom;
            font-weight: 400;
            line-height: 2.8rem;
            letter-spacing: 2%;
            font-family: $source;
            margin-bottom: 1rem;
        }
        .text{
            display: flex;
            align-items: center;
            width: 35rem;
            gap: 2rem;
            h1{
                font-size: 4.6rem;
                letter-spacing: 6%;
                color: $background;
                font-weight: 700;
                line-height: 4.6rem;
            }
            img{
                width: 15.8rem;
                height: 4.4rem;
            }
        }
    }
    .top-flower{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .right-flower{
        position: absolute;
        right: 0;
        bottom: 12%;
        z-index: 10;
    }
  
    @media screen and (max-width:700px) {
        aspect-ratio: 36/50;
        height: auto;
        .header-text{
            position: absolute;
            left: 2.4rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
            display: flex;
            flex-direction: column;
            width: 21.5rem;
            gap: 2rem;
            img{
                width: 15rem;
                height: 4rem;
            }
            h2{
                font-size: 1.6rem;
                line-height: 1.9rem;
                margin-bottom: 0rem;
            }
            .text{
                display: flex;
                align-items: center;
                width: 35rem;
                gap: 2rem;
                h1{
                    font-size: 4.6rem;
                    letter-spacing: 6%;
                    color: $background;
                    font-weight: 700;
                    line-height: 4.6rem;
                }
                img{
                    width: 15.8rem;
                    height: 4.4rem;
                }
            }
        }
        .top-flower{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 9rem;
        }
    }
}

.header2{
    position: relative;
    width: 100%;
    height: 100vh;
    .header-back{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
    }
    .header-text{
        position: absolute;
        left: 50%;
        top: 45%;
        z-index: 10;
        transform: translate(-50%, -50%);
        h2{
            font-size: 4rem;
            color: $marrom;
            font-weight: 600;
            line-height: 2.8rem;
            letter-spacing: 8%;
            font-family: $source;
        }
    }
    .top-flower{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .right-flower{
        position: absolute;
        right: 0;
        bottom: 12%;
        z-index: 10;
    }
  
    @media screen and (max-width:700px) {
        aspect-ratio: 36/40;
        height: auto;
        .header-text{
            left: 2.4rem;
            gap: 1rem;
            width: 17rem;
            top: 55%;
            img{
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            h2{
                font-size: 1.6rem;
                line-height: 2.2rem;
                width: 25rem;
            }
        }
    }
}


@keyframes arrow{
    from {
        transform: translateY(0);
    }

    to{
        transform: translateY(2rem);
    }
}