---
title: Blumê - Pediatria
layout: "base.njk"
cssPath: "/css/contato.css"
---

{% include 'nav.njk' %}

<section class="contato">
    <div class="wrap-contato">
        <div class="left-contato">
            <h2>Na Blumê, o cuidado vai além da consulta. Entre em contato e venha criar vínculos verdadeiros.</h2>
        </div>
        <div class="right-contato">
            <a href="https://maps.app.goo.gl/8pHbrG7SWcDWVynj8">
                <img 
                src="../img/icons/address.png"
                srcset="../img/icons/address@2x.png 2x"
                alt="">
                <p>
                    Rua Bruno Filgueira 369, Sala 1601, Batel | Curitiba - PR, 80440-220
                </p>
            </a>
            <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta.">
                <img 
                src="../img/icons/whats.png"
                srcset="../img/icons/whats@2x.png 2x"
                alt="">
                <p>
                    (41) 99856-0847
                </p>
            </a>
            <div>
                <img 
                src="../img/icons/icon.png"
                srcset="../img/icons/icon@2x.png 2x"
                alt="">
                <p>
                    Dra. Barbara Gracia <br/>
                    CRM-PR 28956 | Pediatra RQE 21853 | Neonatologista RQE 32881
                </p>
            </div>
            <div>
                <img 
                src="../img/icons/icon.png"
                srcset="../img/icons/icon@2x.png 2x"
                alt="">
                <p>
                    Dra. Larissa Faria <br/>
                    CRM-PR 33215 | Pediatra RQE 23409 | Neonatologista RQE 27392
                </p>
            </div>
        </div>
    </div>
    <img src="../img/left-flower.png" alt="">
    
</section>

{% include 'footer.njk' %}