---
title: Blumê - Pediatria
layout: "base.njk"
cssPath: "/css/home.css"
---

{% include 'nav.njk' %}

<header class="header">
    <img class="tablet-desktop header-back" src="../img/home/header.png" alt="Foto com a equipe da Clinotam olhando uma radiografia panorâmica">
    <img class="only-mobile header-back" src="../img/home/header-mob.png" alt="Foto com a equipe da Clinotam olhando uma radiografia panorâmica">
    <div class="header-text">
       <img 
            src="../img/home/header-logo.png"
            srcset="../img/home/header-logo@2x.png 2x"
            alt="logo Clinotam Odontologia"
        >
        <h2>Pediatria e neonatologia para as primeiras fases da vida.</h2>
        <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="greenButton">Vamos conversar?</a>
    </div>
    <img src="../img/home/top-flower.png" class="top-flower" alt="">
    <img src="../img/home/right-flower.png" class="right-flower" alt="">
</header>

<section class="leveza">
    <div class="left-leveza">
        <h2>
            Leveza para acolher, maturidade para cuidar e um olhar único para cada família. Assim nasceu a Blumê Pediatria, um espaço para acompanhar cada etapa da vida da sua criança com atenção, carinho e segurança.
        </h2>
        <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="greenButton">Vamos conversar?</a>
    </div>
    <img src="../img/logo@3x.png"
    alt="">
    <div class="right-leveza">
        <p> Nossa missão é oferecer cuidado pediátrico e neonatal, combinando nossa experiência clínica com um atendimento próximo, gentil e humano.
            <br/><br/>
            Queremos que cada consulta seja leve e, por isso, nos unimos para construir um espaço onde famílias sejam ouvidas e acolhidas, confiando que seus pequenos estão em boas mãos.
        </p>
    </div>
</section>

<section class="conheca">
    <h1>Conheça quem está por trás de cada cuidado</h1>
    <div class="wrap-conheca">
        <div class="box-conheca">
            <img src="../img/home/barbara.png" alt="">
            <div>
                <h2>Dra. Bárbara</h2>
                <h3>CRM-PR 28956 | Pediatra RQE 21853 | Neonatologista RQE 32881</h3>
                <p>Sócia fundadora da Blumê, formou-se em Medicina na UFPR e fez as residências em Pediatria e Neonatalogia no HCPA, possuindo título de especialista nas duas áreas pela Sociedade Brasileira de Pediatria. Além disso, é consultora de amamentação certificada pelo IBLCE®.</p>
            </div>
        </div>
        <div class="box-conheca">
            <img src="../img/home/larissa.png" alt="">
            <div>
                <h2>Dra. Larissa</h2>
                <h3>CRM-PR 33215 | Pediatra RQE 23409 | Neonatologista RQE 27392</h3>
                <p>Sócia fundadora da Blumê, formou-se em Medicina na PUCPR e fez as residências em Pediatria e Neonatalogia no Hospital Pequeno Príncipe, possuindo título de especialista nas duas áreas pela Sociedade Brasileira de Pediatria. Além disso, possui pós-graduação em Nutrologia Pediátrica pela ABRAN, com estudos focados em pediatria esportiva.</p>
            </div>
        </div>
    </div>
    <img src="../img/home/right-conheca.png" class="right-conheca" alt="">
    <img src="../img/home/left-conheca.png" class="left-conheca" alt="">
</section>

<section class="fazemos">
    <h1>O que fazemos</h1>
    <div class="wrap-fazemos">
        <div class="item-fazemos">
            <img src="../img/home/consulta.png" alt="">
            <p>Consulta pediátrica de pré-natal</p>
        </div>
        <div class="item-fazemos">
            <img src="../img/home/parto.png" alt="">
            <p>Sala de parto e recém-nascido</p>
        </div>
        <div class="item-fazemos">
            <img src="../img/home/puericultura.png" alt="">
            <p>Puericultura</p>
        </div>
        <div class="item-fazemos">
            <img src="../img/home/esportiva.png" alt="">
            <p>Pediatria esportiva</p>
        </div>
    </div>
    <p>
        Acolhimento para a família, cuidado completo para os pequenos. <br/>
        Conheça nossos serviços e como podemos estar presentes na sua história.
    </p>
    <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="greenButton">Saiba mais</a>
</section>

<section class="detalhes">
    <h1>Detalhes que fazem toda a diferença</h1>
    <div class="wrap-detalhes">
        <img 
        src="../img/home/evidencias.png"
        srcset="../img/home/evidencias@2x.png 2x"
        class="evidencias"
        alt="">

        <img 
        src="../img/home/ludico.png"
        srcset="../img/home/ludico@2x.png 2x"
        class="ludico"
        alt="">

        <img 
        src="../img/home/clinica.png"
        srcset="../img/home/clinica@2x.png 2x"
        class="clinica"
        alt="">

        <img 
        src="../img/home/telemedicina.png"
        srcset="../img/home/telemedicina@2x.png 2x"
        class="telemedicina"
        alt="">

        <p>Pediatria baseada em evidências</p>

        <p>Espaço lúdico e acolhedor</p>

        <p>Clínica amiga da amamentação</p>

        <p>Consultas presenciais e telemedicina</p>
    </div>
    <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="purpleButton">Vamos conversar?</a>
</section>

<section class="historias">
    <h1>
        Histórias reais, <br/>
        de cuidado e confiança.
    </h1>
    <div class="wrap-historias">
        <img src="../img/home/historias.png" alt="">
        <div class="right-historias">
            <img class="balao" src="../img/home/balao.png" alt="">
            <img 
            src="../img/icons/aspas.png"
            srcset="../img/icons/aspas@2x.png 2x"
            class="aspas"
            alt="">
            <div class="depoimento">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <h3>Melissa</h3>
            </div>
        </div>
    </div>
</section>

<section class="espaco">
    <div class="wrap-espaco">
        <div class="left-espaco">
            <img src="../img/home/espaco.png" alt="">
        </div>
        <div class="right-espaco">
            <h2>
                Um espaço pensado para acolher cada detalhe da sua história.
            </h2>
            <p>
                Cada cantinho da Blumê foi pensado para receber sua família com amor e cuidado, porque acreditamos que o cuidado começa no ambiente.
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="purpleButton">Venha nos visitar</a>
        </div>
    </div>
    <img src="../img/home/right-flower.png" alt="">
</section>


{% include 'footer.njk' %}
