---
title: Blumê - Pediatria
layout: "base.njk"
cssPath: "/css/home.css"
---

{% include 'nav.njk' %}

<header class="header">
    <img class="tablet-desktop header-back" src="../img/home/header.png" alt="">
    <img class="only-mobile header-back" src="../img/home/header-mob.png" alt="">
    <div class="header-text">
       <img 
            src="../img/home/header-logo.png"
            srcset="../img/home/header-logo@2x.png 2x"
            alt="logo Blume"
        >
        <h2>Pediatria e neonatologia para as primeiras fases da vida.</h2>
        <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="greenButton">Vamos conversar?</a>
    </div>
    <img src="../img/home/top-flower.png" class="top-flower" alt="">
    <img src="../img/home/right-flower.png" class="right-flower tablet-desktop" alt="">
</header>

<section class="leveza">
    <div class="left-leveza">
        <h2>
            Leveza para acolher, maturidade para cuidar e um olhar único para cada família. Assim nasceu a Blumê Pediatria, um espaço para acompanhar cada etapa da vida da sua criança com atenção, carinho e segurança.
        </h2>
        <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="greenButton tablet-desktop">Vamos conversar?</a>
    </div>
    <img src="../img/logo@3x.png"
    alt="">
    <div class="right-leveza">
        <p> Nossa missão é oferecer cuidado pediátrico e neonatal, combinando nossa experiência clínica com um atendimento próximo, gentil e humano.
            <br/><br/>
            Queremos que cada consulta seja leve e, por isso, nos unimos para construir um espaço onde famílias sejam ouvidas e acolhidas, confiando que seus pequenos estão em boas mãos.
        </p>
        <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="greenButton only-mobile">Vamos conversar?</a>
    </div>
</section>

<section class="conheca">
    <h1>Conheça quem está por trás de cada cuidado</h1>
    <div class="wrap-conheca">
        <div class="box-conheca">
            <img src="../img/home/barbara.png" alt="">
            <div>
                <h2>Dra. Bárbara</h2>
                <h3>CRM-PR 28956 | Pediatra RQE 21853 | Neonatologista RQE 32881</h3>
                <p>Sócia fundadora da Blumê, formou-se em Medicina na UFPR e fez as residências em Pediatria e Neonatalogia no HCPA, possuindo título de especialista nas duas áreas pela Sociedade Brasileira de Pediatria. Além disso, é consultora de amamentação certificada pelo IBLCE®.</p>
            </div>
        </div>
        <div class="box-conheca">
            <img src="../img/home/larissa.png" alt="">
            <div>
                <h2>Dra. Larissa</h2>
                <h3>CRM-PR 33215 | Pediatra RQE 23409 | Neonatologista RQE 27392</h3>
                <p>Sócia fundadora da Blumê, formou-se em Medicina na PUCPR e fez as residências em Pediatria e Neonatalogia no Hospital Pequeno Príncipe, possuindo título de especialista nas duas áreas pela Sociedade Brasileira de Pediatria. Além disso, possui pós-graduação em Nutrologia Pediátrica pela ABRAN, com estudos focados em pediatria esportiva.</p>
            </div>
        </div>
    </div>
    <img src="../img/home/right-conheca.png" class="right-conheca" alt="">
    <img src="../img/home/left-conheca.png" class="left-conheca" alt="">
</section>

<section class="fazemos">
    <h1>O que fazemos</h1>
    <div class="wrap-fazemos">
        <div class="item-fazemos">
            <img src="../img/home/consulta.png" alt="">
            <p>Consulta pediátrica de pré-natal</p>
        </div>
        <div class="item-fazemos">
            <img src="../img/home/parto.png" alt="">
            <p>Sala de parto e recém-nascido</p>
        </div>
        <div class="item-fazemos">
            <img src="../img/home/puericultura.png" alt="">
            <p>Puericultura</p>
        </div>
        <div class="item-fazemos">
            <img src="../img/home/esportiva.png" alt="">
            <p>Saúde e nutrição de crianças esportistas</p>
        </div>
    </div>
    <p>
        Acolhimento para a família, cuidado completo para os pequenos. <br/>
        Conheça nossos serviços e como podemos estar presentes na sua história.
    </p>
    <a href="/servicos" class="greenButton">Saiba mais</a>
</section>

<section class="detalhes">
    <h1>Detalhes que fazem toda a diferença</h1>
    <div class="wrap-detalhes tablet-desktop">
        <img 
        src="../img/home/evidencias.png"
        srcset="../img/home/evidencias@2x.png 2x"
        class="evidencias"
        alt="">

        <img 
        src="../img/home/ludico.png"
        srcset="../img/home/ludico@2x.png 2x"
        class="ludico"
        alt="">

        <img 
        src="../img/home/clinica.png"
        srcset="../img/home/clinica@2x.png 2x"
        class="clinica"
        alt="">

        <img 
        src="../img/home/telemedicina.png"
        srcset="../img/home/telemedicina@2x.png 2x"
        class="telemedicina"
        alt="">

        <p>Pediatria baseada em evidências</p>

        <p>Espaço lúdico e acolhedor</p>

        <p>Clínica amiga da amamentação</p>

        <p>Consultas presenciais e telemedicina</p>
    </div>
    <div class="wrap-mobile only-mobile">
        <div class="item-detalhes">
            <div class="box-image">
                <img 
                src="../img/home/evidencias.png"
                srcset="../img/home/evidencias@2x.png 2x"
                class="evidencias"
                alt="">
            </div>
            <p>Pediatria baseada em evidências</p>
        </div>
        
        <div class="item-detalhes">
            <div class="box-image">
                <img 
                src="../img/home/ludico.png"
                srcset="../img/home/ludico@2x.png 2x"
                class="ludico"
                alt="">
            </div>
            <p>Espaço lúdico e acolhedor</p>
        </div>

        <div class="item-detalhes">
            <div class="box-image">
                <img 
                src="../img/home/clinica.png"
                srcset="../img/home/clinica@2x.png 2x"
                class="clinica"
                alt="">
            </div>
            <p>Clínica amiga da amamentação</p>
        </div>

        <div class="item-detalhes">
            <div class="box-image">
                <img 
                src="../img/home/telemedicina.png"
                srcset="../img/home/telemedicina@2x.png 2x"
                class="telemedicina"
                alt="">
            </div>
            <p>Consultas presenciais e telemedicina</p>
        </div>

    </div>
    <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="purpleButton">Vamos conversar?</a>
</section>

<section class="historias">
    <div class="wrap-title">
        <h1>
            Histórias reais, <br/>
            de cuidado e confiança.
        </h1>
        <img src="../img/home/historias.png" alt="" class="only-mobile">
    </div>
    <div class="wrap-historias">
        <img src="../img/home/historias.png" alt="" class="tablet-desktop">
        <div class="right-historias">
            <img class="balao tablet-desktop" src="../img/home/balao.png" alt="">
            <img class="balao only-mobile" src="../img/home/balao-mob.png" alt="">
            <img 
            src="../img/icons/aspas.png"
            srcset="../img/icons/aspas@2x.png 2x"
            class="aspas"
            alt="">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="depoimento">
                            <p>Dra. Larissa é um anjo na forma de médica. Humana, empática, prestativa e com 0 neuroses, o que transmite segurança e confiança para nós, pais. Mesmo nos momentos difíceis, ela não permitiu que entrássemos em pânico, dando aconselhamento cauteloso e cuidadoso. Amamos o atendimento.</p>
                            <h3>Gabriela Wollertt Tesserolli</h3>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="depoimento">
                            <p>A Dra. Larissa nos acompanha há mais de dois anos, desde o nascimento do nosso filho, e tem nos proporcionado uma experiência repleta de ciência e acolhimento. Só temos a agradecer por poder contar com seu olhar cuidadoso.</p>
                            <h3>Thaylise Mussi</h3>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="depoimento big">
                            <p>A Dra Bárbara nos acompanhou desde a consulta pré natal e estava conosco no dia do nascimento da nossa filha. Foi maravilhosa com as orientações antes do nascimento, no dia do parto nos permitiu ter uma golden hour inesquecível, foi a última a ir embora nos deixando com todas as orientações e segurança com nossa recém nascida. As consultas de puericultura são maravilhosas, sem pressa, ela orienta, entende a dinâmica familiar e nos dá soluções práticas para os desafios do dia a dia. Viajo 100km para manter o acompanhamento da minha bebê com ela, pois ela exerce a pediatria com maestria. Ela é maravilhosa!</p>
                            <h3>Michelle Moreira</h3>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="depoimento">
                            <p>Dra Barbara Gracia atende o Gabriel desde o nascimento, sempre muito atenciosa com ele e com a gente durante as consultas e as infinitas dúvidas de pais de primeira viagem! Foi, sem dúvidas, importante para que conseguíssemos vencer os desafios com a amamentação. Mais do que simplesmente uma pediatra, referência para nós quando pensamos na saúde do nosso pequeno!</p>
                            <h3>Airyne de Souza Berri</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="espaco">
    <div class="wrap-espaco">
        <h2 class="only-mobile">
            Um espaço pensado para acolher cada detalhe da sua história.
        </h2>
        <div class="left-espaco">
            <img src="../img/home/espaco.png" alt="">
        </div>
        <div class="right-espaco">
            <h2 class="tablet-desktop">
                Um espaço pensado para acolher cada detalhe da sua história.
            </h2>
            <p>
                Cada cantinho da Blumê foi pensado para receber sua família com amor e cuidado, porque acreditamos que o cuidado começa no ambiente.
            </p>
            <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="purpleButton">Venha nos visitar</a>
        </div>
    </div>
    <img src="../img/home/right-flower.png" class="tablet-desktop" alt="">
</section>


{% include 'footer.njk' %}

<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        breakpoints: {
            360: {
                spaceBetween: 50,
            },
        },
    });
</script>