---
title: Blumê - Pediatria
layout: "base.njk"
cssPath: "/css/home.css"
---

{% include 'nav.njk' %}

<header class="header">
    <img class="tablet-desktop header-back" src="../img/home/header.png" alt="Foto com a equipe da Clinotam olhando uma radiografia panorâmica">
    <img class="only-mobile header-back" src="../img/home/header-mob.png" alt="Foto com a equipe da Clinotam olhando uma radiografia panorâmica">
    <div class="header-text">
       <img 
            src="../img/home/header-logo.png"
            srcset="../img/home/header-logo@2x.png 2x"
            alt="logo Clinotam Odontologia"
        >
        <h2>Pediatria e neonatologia para as primeiras fases da vida.</h2>
        <a href="" class="greenButton">Vamos conversar?</a>
    </div>
</header>


{% include 'footer.njk' %}
