---
title: Blumê - Pediatria
layout: "base.njk"
cssPath: "/css/servicos.css"
---

{% include 'nav.njk' %}

<header class="header2">
    <img class="tablet-desktop header-back" src="../img/servicos/header.png" alt="">
    <img class="only-mobile header-back" src="../img/servicos/header-mob.png" alt="">
    <div class="header-text">
        <h2>Serviços</h2>
    </div>
    <img src="../img/home/top-flower.png" class="top-flower" alt="">
    <img src="../img/home/right-flower.png" class="right-flower tablet-desktop" alt="">
</header>

<div class="wrap-servicos">
    <div class="item-servicos">
        <h2 class="only-mobile">Consulta pediátrica de<br/> pré-natal</h2>
        <img src="../img/servicos/consulta.png" alt="">
        <div class="right-servicos">
            <h2 class="tablet-desktop">Consulta pediátrica de pré-natal</h2>
            <p>A consulta pediátrica pré-natal é o primeiro passo para cuidar do bebê antes mesmo do nascimento. É um momento para conhecer o pediatra, tirar dúvidas e receber orientações que trazem mais segurança para a chegada do recém-nascido.</p>
            <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="greenButton">Quero saber mais</a>
        </div>
    </div>
    <div class="item-servicos">
        <h2 class="only-mobile">Sala de parto <br/>e recém-nascido</h2>
        <img src="../img/home/parto.png" alt="">
        <div class="right-servicos">
            <h2 class="tablet-desktop">Sala de parto e recém-nascido</h2>
            <p>Atendimento ao recém-nascido desde a sala de parto até os primeiros dias de vida, com foco no cuidado humanizado e na amamentação.</p>
            <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="greenButton">Quero saber mais</a>
        </div>
    </div>
    <div class="item-servicos">
        <h2 class="only-mobile">Puericultura</h2>
        <img src="../img/servicos/puericultura.png" class="puericultura" alt="">
        <div class="right-servicos">
            <h2 class="tablet-desktop">Puericultura</h2>
            <p>Acompanhamento de rotina de crianças e adolescentes, visando crescimento e desenvolvimento saudáveis.</p>
            <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="greenButton">Quero saber mais</a>
        </div>
    </div>
    <div class="item-servicos">
        <h2 class="only-mobile">Saúde e nutrição de crianças esportistas</h2>
        <img src="../img/home/esportiva.png" alt="">
        <div class="right-servicos">
            <h2 class="tablet-desktop">Saúde e nutrição de crianças esportistas</h2>
            <p>Acompanhamento do crescimento, nutrição e suplementação de crianças e adolescentes atletas.</p>
            <a href="https://api.whatsapp.com/send?phone=5541998560847&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20consulta." class="greenButton">Quero saber mais</a>
        </div>
    </div>
</div>

{% include 'footer.njk' %}
